<div class="form-log" >
  <div *ngIf="!passSend; else checkEmail">
    <p>Введите почту для восстановления пароля</p>

    <div class="form-control">
      <label for="email">Email:</label>
      <input type="email" id="email" [formControl]="email">
        <div *ngIf="email?.errors?.email" class="validation">
          Введите корректный email-адресс
        </div>
    </div>

    <button
      class="btn-log"
      type="button"
      (click)="send()"
      [disabled]="this.email.invalid || this.email.value === ''">
      Отправить пароль
    </button>

  </div>

  <ng-template class="template" #checkEmail>
    <p>Проверьте почту {{this.email.value}}</p>
  </ng-template>

</div>



